{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlamDunkPortfolios</title>
    <link rel="icon" href="{% static 'main/img/logo.png' %}">
    <meta name="author" content="Timur Distel">
    <meta name="keywords" content="SDP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nav-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/index-styles.css' %}">

</head>
<body>
<nav>
    <div class="brand">
        <article class="brand-text">
            <h1>SlamDunkPortfolios</h1>
        </article>
        <article class="brand-logo">
            <img src="{% static 'main/img/logo.png' %}" alt="logo">
        </article>
    </div>
    <main class="navigation">
        <article class="shine-button"><a href="{% url 'portfolio' %}">Портфолио</a></article>
        <article class="shine-button"><a href="{% url 'team' %}">Команды</a></article>
        <article class="shine-button"><a href="{% url 'about' %}">О проекте</a></article>
        <article class="shine-button"><a href="{% url 'sign' %}">Вход</a></article>
        <article class="shine-button"><a href="{% url 'registration' %}">Регистрация</a></article>
        <article class="shine-button"><a href="{% url 'profile' %}">Профиль</a><img src="{% static 'main/img/user.png' %}" alt="user-image"></article>
    </main>
</nav>
<section class="link">
    <h1>Найди свою команду</h1>
    <a href="{% url 'registration' %}">Начать бесплатно</a>
</section>
</body>
</html>