{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SlamDunkPortfolios</title>
  <link rel="icon" href="{% static 'main/img/logo.png' %}">
  <meta name="author" content="Timur Distel">
  <meta name="keywords" content="SDP">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/nav-styles.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/profile-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}">
</head>
<body>
<nav>
  <div class="brand">
    <article class="brand-text">
      <h1>SlamDunkPortfolios</h1>
    </article>
    <article class="brand-logo">
      <img src="{% static 'main/img/logo.png' %}" alt="logo">
    </article>
  </div>
    <main class="navigation">
        <article class="shine-button"><a href="{% url 'team' %}">Игроки</a></article>

        {% if user.is_authenticated %}
        <article class="shine-button"><a href="{% url 'myteam' request.user.username %}">Моя команда</a></article>
        <article class="shine-button"><a href="{% url 'profile' request.user.username %}">Портфолио</a><img src="{% static 'main/img/user.png' %}" alt="user-image"></article>
        <article class="shine-button"><a href="{% url 'logout' %}">Выйти</a></article>
        {% else %}
        <article class="shine-button"><a href="{% url 'sign' %}">Вход</a></article>
        <article class="shine-button"><a href="{% url 'registration' %}">Регистрация</a></article>
        {% endif %}
    </main>
</nav>
<div class="entry-block-wrap">
  <section class="entry-block">
    <aside class="links">
      <h1>Профиль</h1>
    </aside>
    <main class="main">

      <div class="block">

        <main class="team">
          <header>
            <img src="{{ myteamprofile.image.url }}" alt="team logo">
            <div class="team-name">
              <p class="" style="height: 2vw;margin: 0.5vw 1vw;">{{ myteamprofile.nameteam }}</p>
              <h1>Игроки:</h1>
            </div>
          </header>
          <div class="stuff">
            <div class="input pos">
              <label class="enter-text" for="position1">{{ myteamprofile.player1 }}:</label>
              <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ myteamprofile.player1pos }}</p>

            </div>
            <div class="input pos">
              <label class="enter-text" for="position1">{{ myteamprofile.player2 }}:</label>
              <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ myteamprofile.player2pos }}</p>

            </div>
            <div class="input pos">
              <label class="enter-text" for="position1">{{ myteamprofile.player3 }}:</label>
              <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ myteamprofile.player3pos }}</p>
            </div>
            <div class="input pos">
              <label class="enter-text" for="position1">{{ myteamprofile.player4 }}:</label>
              <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ myteamprofile.player4pos }}</p>
            </div>
            <div class="input pos">
              <label class="enter-text" for="position1">{{ myteamprofile.player5}}:</label>
              <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ myteamprofile.player5pos }}</p>
            </div>
          </div>
          <a   class="start" href="{% url 'editmyteam' %}"  style="margin: 5vw 30vw; position: relative; top: -30px;" >Редактировать</a>

        </main>
      </div>
    </main>
  </section>
</div>
</body>
</html>