{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlamDunkPortfolios</title>
    <link rel="icon" href="{% static 'main/img/logo.png' %}">
    <meta name="author" content="Timur Distel">
    <meta name="keywords" content="SDP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nav-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/profile-styles.css' %}">
</head>
<body>
<nav>
    <div class="brand">
        <article class="brand-text">
            <h1>SlamDunkPortfolios</h1>
        </article>
        <article class="brand-logo">
            <img src="{% static 'main/img/logo.png' %}" alt="logo">
        </article>
    </div>
    <main class="navigation">
        <article class="shine-button"><a href="{% url 'team' %}">Игроки</a></article>

        {% if user.is_authenticated %}
        <article class="shine-button"><a href="{% url 'myteam' request.user.username %}">Моя команда</a></article>
        <article class="shine-button"><a href="{% url 'profile' request.user.username %}">Портфолио</a><img src="{% static 'main/img/user.png' %}" alt="user-image"></article>
        <article class="shine-button"><a href="{% url 'logout' %}">Выйти</a></article>
        {% else %}
        <article class="shine-button"><a href="{% url 'sign' %}">Вход</a></article>
        <article class="shine-button"><a href="{% url 'registration' %}">Регистрация</a></article>
        {% endif %}
    </main>
</nav>
    <div class="entry-block-wrap">
        <section class="entry-block">
            <aside class="links">
                <h1>Профиль</h1>
            </aside>
            <main class="main">
                <aside class="head">
                    <img src="{{ user_profile.avatar.url }}" alt="user banner">
                    <h1>
                        {% if user.is_authenticated %}
                            {{ user.username }}
                        {% else %}
                            login
                        {% endif %}
                    </h1>
                    <a style="margin-bottom: 0vw" class="start" href="{% url 'editprofile' %}">Редактировать</a>
                </aside>
                <hr>
                <div class="block">
                    <aside class="links">
                        <a href="{% url 'profile' request.user.username %}" class="active">Портфолио</a>
                        <a href="{% url 'team' %}">Игроки</a>

                    </aside>
                    <main class="lines">
                        <div class="left">
                            <div class="input">
				                <h5 class="enter-text" style="height: 2vw;">Фамилия:</h5>
			                </div>
                            <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ user_profile.surname }}</p>

                            <div class="input">
				                <h5 class="enter-text">Имя:</h5>
			                </div>
                            <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ user_profile.firstname }}</p>
                            <div class="input">
				                <h5 class="enter-text">Отчество:</h5>
			                </div>
                            <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ user_profile.patronymic }}</p>

                            <div class="input">
				                <h5 class="enter-text">Возраст:</h5>
			                </div>
                            <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ user_profile.age }}</p>

                            <div class="input">
				                <h5 class="enter-text">Telegram:</h5>
			                </div>
                            <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ user_profile.telegram }}</p>

                        </div>
                        <div class="right">
                             <div class="input">
				                <h5 class="enter-text">Позиция:</h5>
			                </div>
                            <p class="enterpos" style="height: 2vw;margin: 0.5vw 16vw;" >{{ user_profile.position }}</p>

                            <div class="input">
				                <h5 class="enter-text">О себе:</h5>
			                </div>
                            <p class="enter" style="height: 18vw; margin: 0.5vw 1vw;">{{ user_profile.about }}</p>
                        </div>
                    </main>
                </div>
            </main>
        </section>
    </div>

</body>
</html>