{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlamDunkPortfolios</title>
    <link rel="icon" href="{% static 'main/img/logo.png' %}">
    <meta name="author" content="Timur Distel">
    <meta name="keywords" content="SDP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nav-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/entry-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<nav>
    <div class="brand">
        <article class="brand-text">
            <h1>SlamDunkPortfolios</h1>
        </article>
        <article class="brand-logo">
            <img src="{% static 'main/img/logo.png' %}" alt="logo">
        </article>
    </div>
    <main class="navigation">
        <article class="shine-button"><a href="{% url 'team' %}">Команды</a></article>
        <article class="shine-button"><a href="{% url 'sign' %}">Вход</a></article>
        <article class="shine-button"><a href="{% url 'registration' %}">Регистрация</a></article>
        <article class="shine-button"><a href="{% url 'profile' %}">Профиль</a><img src="{% static 'main/img/user.png' %}" alt="user-image"></article>
    </main>
</nav>
<div class="entry-block-wrap">
    <section class="entry-block">
        <aside class="links">
            <a href="{% url 'sign' %}">Вход</a>
            <a href="{% url 'registration' %}" class="active">Регистрация</a>
        </aside>
        <form  class="main" action="{% url 'registration' %}" method="post">
            {% csrf_token %}
<!--            {% for message in messages %}-->
<!--                <p>{{ message }}</p>-->
<!--             {% endfor %}-->
            <div class="login input">
                <label class="enter-text" for="inputEmailAddress">E-mail</label>
                <input class="form-control" id="inputEmailAddress" type="email"
                                               placeholder="Введите email"/>
            </div>
             <div class="login input">
                <label class="enter-text" for="login">Имя пользователя</label>
                <input class="form-control" id="login" type="text"
                                               placeholder="Введите имя"/>
            </div>
             <div class="login input">
                <label class="enter-text" for="pass">Пароль</label>
                <input class="form-control" id="pass" type="password"
                                               placeholder="Введите пароль"/>
            </div>
             <div class="login input">
                <label class="enter-text" for="pass-rep">Повторите пароль</label>
                <input class="form-control" id="pass-rep" type="password"
                                               placeholder="Повторите пароль"/>
            </div>
            <button type="submit"  class="form-group start">Зарегистрироваться</button>

<!--            <div class="login input">-->
<!--                <label class="enter-text" for="login">Логин:</label>-->
<!--                <input class="enter" type="text" id="login" required minlength="4" maxlength="8" size="10">-->
<!--            </div>-->
<!--            <div class="email input">-->
<!--                <label class="enter-text" for="email">E-mail:</label>-->
<!--                <input class="enter" type="text" id="email" required minlength="4" maxlength="8" size="10">-->
<!--            </div>-->
<!--            <div class="pass input">-->
<!--                <label class="enter-text" for="pass">Пароль:</label>-->
<!--                <input class="enter" type="password" id="pass" required minlength="4" maxlength="8" size="10">-->
<!--            </div>-->
<!--            <div class="pass-rep input">-->
<!--                <label class="enter-text" for="pass-rep">Повторите пароль:</label>-->
<!--                <input class="enter" type="password" id="pass-rep" required minlength="4" maxlength="8" size="10">-->
<!--            </div>-->
        </form>
    </section>
</div>
</body>
</html>