{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlamDunkPortfolios</title>
    <link rel="icon" href="{% static 'main/img/logo.png' %}">
    <meta name="author" content="Timur Distel">
    <meta name="keywords" content="SDP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nav-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/entry-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}">
</head>
<body>
<nav>
    <div class="brand">
        <article class="brand-text">
            <h1>SlamDunkPortfolios</h1>
        </article>
        <article class="brand-logo">
            <img src="{% static 'main/img/logo.png' %}" alt="logo">
        </article>
    </div>
    <main class="navigation">
        <article class="shine-button"><a href="{% url 'team' %}">Игроки</a></article>

        {% if user.is_authenticated %}

        <article class="shine-button"><a href="{% url 'profile' request.user.username %}">Портфолио</a><img src="{% static 'main/img/user.png' %}" alt="user-image"></article>
        <article class="shine-button"><a href="{% url 'logout' %}">Выйти</a></article>
        {% else %}
        <article class="shine-button"><a href="{% url 'sign' %}">Вход</a></article>
        <article class="shine-button"><a href="{% url 'registration' %}">Регистрация</a></article>
        {% endif %}
    </main>
</nav>

<div class="entry-block-wrap">

    <section class="entry-block">
        <aside class="links">
            <a href="{% url 'sign' %}" class="active">Вход</a>
            <a href="{% url 'registration' %}">Регистрация</a>
        </aside>

        <form method="post" action="{% url 'sign' %}" class="main">
            {% csrf_token %}

            <div class="login input">
                <label class="enter-text" for="id_username">Логин</label>
                <input class="enter" type="text" id="id_username"   name="username" required>
            </div>
            <div class="pass input">
                <label class="enter-text" for="id_password">Пароль:</label>
                <input class="enter" type="password" id="id_password"   name="password" required>
            </div>
            {% for error in login_form.non_field_errors %}
             <div class="input" >
                <h2 class="enter-text"> {{ error }} </h2>
            </div>
            {% endfor %}
            <button type="submit"  class="start">Войти</button>
        </form>
    </section>
</div>
</body>
</html>