{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlamDunkPortfolios</title>
    <link rel="icon" href="{% static 'main/img/logo.png' %}">
    <meta name="author" content="Timur Distel">
    <meta name="keywords" content="SDP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nav-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/profile-styles.css' %}">
</head>
<body>
<nav>
    <div class="brand">
        <article class="brand-text">
            <h1>SlamDunkPortfolios</h1>
        </article>
        <article class="brand-logo">
            <img src="{% static 'main/img/logo.png' %}" alt="logo">
        </article>
    </div>
    <main class="navigation">
        <article class="shine-button"><a href="{% url 'team' %}">Игроки</a></article>
        <article class="shine-button"><a href="{% url 'sign' %}">Вход</a></article>
        <article class="shine-button"><a href="{% url 'registration' %}">Регистрация</a></article>
        <article class="my-team"><a href="{% url 'myteam' %}">Моя команда</a></article>
        <article class="shine-button"><a href="{% url 'profile' %}">Профиль</a><img src="{% static 'main/img/user.png' %}" alt="user-image"></article>
    </main>
</nav>
<div class="entry-block-wrap">
    <section class="entry-block">
        <aside class="links">
            <h1>Профиль</h1>
        </aside>
        <main class="main">
            <aside class="head">
                <img src="{% static 'main/img/logoin.png' %}" alt="user banner">
                <h1>Логин</h1>
            </aside>
            <hr>
            <div class="block">
                <aside class="links">
                    <a href="{% url 'profile' %}">Портфолио</a>
                    <a href="{% url 'team' %}" class="active">Игроки</a>
                    <a href="{% url 'myteam' %}">Моя команда</a>
                </aside>
                <a style="margin-bottom: 0" class="start" href="#">Редактировать</a>
                <main class="team">
                    <header>
                        <img src="{% static 'main/img/team.png' %}" alt="team logo">
                        <div class="team-name">
                            <p>Фамилия И. О.</p>
                            <div class="input" style="margin: 0;">
                                <label class="enter-text" for="telegram">Телеграм:</label>
                                <input readonly class="enter" type="text" id="telegram">
                            </div>
                            <a style="margin: 0" class="start" href="#">Пригласить</a>
                        </div>
                    </header>
                    <main class="lines">
                        <div class="left">
                            <div class="input">
                                <label class="enter-text" for="last-name">ФИО:</label>
                                <input readonly class="enter" type="text" id="last-name">
                            </div>
                            <div class="age-pos">
                                <div class="input age">
                                    <label class="enter-text" for="age">Дата рождения:</label>
                                    <input readonly class="enter" type="text" id="age">
                                </div>
                                <div class="input pos">
                                    <label class="enter-text" for="position">Позиция:</label>
                                    <input readonly class="enter" list="pos" type="text" id="position">
                                    <datalist id="pos">
                                        <option value="1" label="1">
                                        <option value="2" label="2">
                                        <option value="3" label="3">
                                        <option value="4" label="4">
                                        <option value="5" label="5">
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="input">
                                <label class="enter-text" for="about">О себе:</label>
                                <textarea readonly class="enter" style="height: 10.5vw" id="about"></textarea>
                            </div>
                        </div>
                    </main>
                </main>
            </div>
        </main>
    </section>
</div>
</body>
</html>