{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlamDunkPortfolios</title>
    <link rel="icon" href="{% static 'main/img/logo.png' %}">
    <meta name="author" content="Timur Distel">
    <meta name="keywords" content="SDP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nav-styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/profile-styles.css' %}">
</head>
<body>
<nav>
    <div class="brand">
        <article class="brand-text">
            <h1>SlamDunkPortfolios</h1>
        </article>
        <article class="brand-logo">
            <img src="{% static 'main/img/logo.png' %}" alt="logo">
        </article>
    </div>
    <main class="navigation">
        <article class="shine-button"><a href="{% url 'team' %}">Игроки</a></article>

        {% if user.is_authenticated %}
        <article class="shine-button"><a href="{% url 'myteam' request.user.username %}">Моя команда</a></article>
        <article class="shine-button"><a href="{% url 'profile' request.user.username %}">Портфолио</a><img src="{% static 'main/img/user.png' %}" alt="user-image"></article>
        <article class="shine-button"><a href="{% url 'logout' %}">Выйти</a></article>
        {% else %}
        <article class="shine-button"><a href="{% url 'sign' %}">Вход</a></article>
        <article class="shine-button"><a href="{% url 'registration' %}">Регистрация</a></article>
        {% endif %}
    </main>
</nav>
<div class="entry-block-wrap">
    <section class="entry-block">
        <aside class="links">
            <h1>Список портфолио игроков</h1>
        </aside>
        <main class="main">
            <div>
                {% for profile in profiles %}

                 <main class="team">
                    <header>
                        <img src="{{ profile.avatar.url }}" alt="team logo">

                        <div class="team-name">
                            <p>{{ profile.user  }}</p>

                        </div>
                    </header>
                    <main class="lines">
                        <div class="left">
                            <div class="input">
                                <label class="enter-text" >ФИО:</label>
                                <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ profile.surname }} {{ profile.firstname }} {{ profile.patronymic }}</p>
                            </div>
                            <div class="input" style="margin: 0;">
                                <label class="enter-text" for="telegram">Телеграм:</label>
                                <p class="enter" type="text" id="telegram" style="margin: 0.5vw 2vw;">{{ profile.telegram }}</p>
                            </div>
                            <div class="age-pos">
                                <div class="input age">
                                    <label class="enter-text" >Возраст:</label>
                                    <p class="enter" style="height: 2vw;margin: 0.5vw 1vw;">{{ profile.age }}</p>
                                </div>
                                <div class="input pos">
                                    <label class="enter-text"  >Позиция:</label>
                                    <p class="enterpos" style="margin: 0.5vw 0vw;" >{{ profile.position }}</p>
                                    <datalist id="pos">
                                        <option value="1" label="1">
                                        <option value="2" label="2">
                                        <option value="3" label="3">
                                        <option value="4" label="4">
                                        <option value="5" label="5">
                                    </datalist>
                                </div>
                            </div>
                        </div>

                        <div class="right">
                            <div class="input">
                                <label class="enter-text"  >О себе:</label>
                                <p class="enter" style="height: 18vw; margin: 0.5vw 1vw;">{{ profile.about }}</p>
                            </div>
                        </div>
                    </main>
                </main>
                {% endfor %}
            </div>
        </main>
    </section>
</div>
</body>
</html>