body {
    background-image: url("../index/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: transparent;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.link h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3vw;
}

.link a {
    margin-top: 2vw;
    padding: 1vw 2vw;
    border-radius: 2vw;
    line-height: 2.5vw;
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
    background-color: #ffcc00;
}